$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark
);

$code-spacer-y: $spacer * 0.5 !default;
$code-spacer-x: $spacer * 0.75 !default;
